[2021-05-25 17:56] jimbobbennett opened #7 "Intro video"
Once the curriculum is written, we need to record an intro video introducing it along with the people who were involved.

Similar to this one for the [Web Dev for beginners](https://github.com/microsoft/Web-Dev-For-Beginners) curriculum:

https://www.youtube.com/watch?v=R1wrdtmBSII

[2021-05-25 17:57] jimbobbennett opened #8 "Lesson 1 - Introduction to IoT"
The following tasks need to be completed for this lesson:

- [x] Sketchnote
- [x] Slide deck for Reactor series
- [x] Live stream prep for Reactor series

[2021-05-25 17:57] jimbobbennett opened #9 "Lesson 2 - A deeper dive into IoT"
The following tasks need to be completed for this lesson:

- [x] Sketchnote
- [x] Slide deck for Reactor series
- [x] Live stream prep for Reactor series

[2021-05-25 17:58] jimbobbennett opened #10 "Lesson 3 - Interact with the physical world with sensors and actuators"
The following tasks need to be completed for this lesson:

- [x] Sketchnote
- [x] Slide deck for Reactor series
- [x] Live stream prep for Reactor series

[2021-05-25 17:58] jimbobbennett opened #11 "Lesson 4 - Connect your device to the Internet"
The following tasks need to be completed for this lesson:

- [x] Sketchnote
- [x] Slide deck for Reactor series
- [x] Live stream prep for Reactor series

[2021-05-25 18:00] jimbobbennett opened #12 "Lesson 5 - Predicting plant growth with IoT"
# Lesson

## Concepts taught

* IoT can be used to improve agriculture to help feed the growing global population.
* Sensor data can help with prediction of plant growth and maturity.

## Learning objectives

* Learn about digital agriculture and ways IoT is helping increase growth yields.
* Learn about measuring temperatures and calculating growing-degree days.

## Hardware required

* Wio/Pi
* G

[2021-05-25 18:01] jimbobbennett opened #13 "Lesson 6 – Detecting soil moisture"
# Lesson

## Concepts taught

* IoT can implement feedback loops to control actuators based off sensor data, such as watering dry soil.
* The underlying implementation of how sensors and actuators communicate (I2C, SPI, UART)
* Sensors sometimes need to be calibrated

## Learning objectives

* Learn how to measure soil moisture.
* Learn about I2C, SPI, UART (this is a light lesson as the concepts

[2021-05-25 18:01] jimbobbennett opened #14 "Lesson 7 - Automated plant watering"
# Lesson

## Concepts taught

* Sensors may not provide an immediate reading.
* Actuators can control additional hardware
* IoT feedback loops can be controlled from the cloud to allow decisions to be made using more data than a single sensor, or to allow actuators to be controlled when not connected to the sensor.

## Learning objectives

* Learn how to send soil moisture data and control the rel

[2021-05-25 18:02] jimbobbennett opened #15 "Lesson 8 – Moving your plant to the cloud"
# Lesson

## Concepts taught

* The cloud provides hosted IoT gateways you can use with your IoT devices to save hosting your own.

## Learning objectives

* Learn the principles of cloud hosting.
* Learn about Azure IoT Hub.
* Learn how to migrate soil control to IoT Hub.

* Wio/Pi
* Grove capacitive soil moisture sensor
* Grove relay
* Pump (optional)

## Software/services

* VS Code
* PlatformI

[2021-05-25 18:02] jimbobbennett opened #16 "Lesson 10 – Keep your plant secure"
# Lesson

## Concepts taught

* IoT devices need to connect securely to avoid bad actors.
* You can secure an IoT device with a symmetric key, or a certificate.
* You should clean up cloud resources once you have finished a project to save money or free resources.

## Learning objectives

* Learn the principles IoT security.
* Learn about symmetric keys.
* Learn about x.509 certificates.
* Learn h

[2021-05-25 18:03] jimbobbennett opened #17 "Lesson 9 – Transplant your application logic to the cloud"
# Lesson

## Concepts taught

* The logic code that controls the relay can live in event-driven code in the cloud.
* Using serverless you can respond to IoT telemetry and control IoT devices with custom logic that is only called when telemetry is received.

## Learning objectives

* Learn the principles of serverless.
* Learn about Azure Functions.
* Learn how to listen for telemetry in an Azure F

[2021-05-25 18:04] jimbobbennett opened #18 "Lesson 12 - storing location data"
# Lesson

## Concepts taught

* IoT data is not stored by IoT services, it needs to be manually stored somewhere
* IoT data is unstructured, so is better suited for NoSQL database
* Azure storage includes blob storage for IoT data

## Learning objectives

* Learn about the differences between SQL and NoSQL storage
* Learn about the differences between Table and Blob storage
* Learn how to save IoT

[2021-05-25 18:04] jimbobbennett opened #19 "Lesson 11 – Location tracking"
# Lesson

## Concepts taught

* IoT devices can track location using GPS coordinates.
* GPS is based on positions on the globe and can define any point.
* GPS positioning is based off time signals from satellites and is not millimeter accurate.
* GPS data comes in [NMEA](https://en.wikipedia.org/wiki/NMEA_0183) format.

## Learning objectives

* Learn about geo-spatial coordinates.
* Learn how to

[2021-05-25 18:05] jimbobbennett opened #20 "Lesson 13 – Visualizing location data"
# Lesson

## Concepts taught

* IoT data can be visualized on dashboards in different forms depending on the data.
* Location data can be visualized on a map that uses a Mercator projection to ‘flatten’ the globe.

## Learning objectives

* Learn about the Mercator projection.
* Learn how to use the Azure Maps web SDK to show a map.
* Learn about the GeoJSON format
* Learn how to plot IoT data on

[2021-05-25 18:05] jimbobbennett opened #21 "Lesson 14 – Geofencing"
# Lesson

## Concepts taught

* Geofences are defined geospatial areas.
* A GPS location can be tested to see if it is inside or outside the Geofence.
* GPS is not accurate, and this comes into the testing of the geofence.

## Learning objectives

* Learn about geofences.
* Learn how to define a Geofence using Azure Maps.
* Learn how to test a point against a Geofence using Azure Maps.
* Learn abo

[2021-05-25 18:06] jimbobbennett opened #22 "Lesson 15 – Training a fruit quality detector"
# Lesson

## Concepts taught

* AI can detect images and can be trained to classify fruit based on good or bad.
* Transfer learning allows image classifiers to be trained with only a small number of images.

## Learning objectives

* Learn about image classifiers.
* Learn how to train an image classifier to compare good and bad fruit, then test it.

## Hardware required

* None

## Software/servic

[2021-05-25 18:06] jimbobbennett opened #23 "Lesson 16 – Checking fruit quality from an IoT device"
# Lesson

## Concepts taught

* IoT devices can use cameras and send the images to AI services for image classification.

## Learning objectives

* Learn how to capture images with a camera.
* Learn how to use the custom vision APIs to check fruit.
* Learn how to improve the model.

## Hardware required

* Wio/Pi
* Grove camera sensor or Pi camera
* Fruit

## Software/services

* VS Code
* Platfor

[2021-05-25 18:07] jimbobbennett opened #24 "Lesson 17 – Running AI models on the edge"
# Lesson

## Concepts taught

* AI models can be run on the edge – so running on IoT devices closer to the sensors.
* This is faster, private and can be cheaper.

## Learning objectives

* Learn about the upsides to running IoT models on the edge such as privacy and speed.
* Learn the downside of running IoT models on the edge such as resiliency and having to manually capture data to retrain the m

[2021-05-25 18:07] jimbobbennett opened #25 "Lesson 18 – Triggering the AI model call from a sensor"
# Lesson

## Concepts taught

* Many components would work together for checking quality – a sensor would detect that an item needs to be checked, an image would be taken, and feedback would be given via an actuator.
* Serverless code can manage these devices working together.

## Learning objectives

* Learn about end-to-end solutions with multiple components.
* Learn how to build an end-to-end f

[2021-05-25 18:08] jimbobbennett opened #26 "Lesson 19 – Training a stock detector"
# Lesson

## Concepts taught

* AI can be trained to detect objects in an image, not just classify images.
* It can be used to count images, giving an indication when an item needs to be re-stocked on a store shelf.

## Learning objectives

* Learn about object detection.
* Learn how to train an object detector to count produce.

## Hardware required

* Identical objects (such as cereal boxes)

##

[2021-05-25 18:08] jimbobbennett opened #27 "Lesson 20 – Checking stock from an IoT device"
# Lesson

## Concepts taught

* IoT devices can use cameras and send the images to AI services for object detection.

## Learning objectives

* Learn how to use the custom vision APIs to count objects.
* Learn how to improve the model.

## Hardware required

* Wio/Pi
* Grove camera sensor or Pi camera
* Identical objects (such as cereal boxes)

## Software/services

* VS Code
* PlatformIO (Wio)
*

[2021-05-25 18:09] jimbobbennett opened #28 "Lesson 21 – Speech recognition"
# Lesson

## Concepts taught

* IoT devices can capture audio and use AI services in the cloud for speech detection.

## Learning objectives

* Learn about pre-built AI services.
* Learn how to capture audio.
* Learn how to use AI services to convert speech to text.

## Hardware required

* Wio/Pi
* USB Microphone (Pi)
* Grove button (Pi)

## Software/services

* VS Code
* PlatformIO (Wio)
* Cogni

[2021-05-25 18:09] jimbobbennett opened #29 "Lesson 22 – Language understanding"
# Lesson

## Concepts taught

* AI services can be trained to understand language.
* They can extract entities and intents, such as how long to set a timer for.

## Learning objectives

* Learn how to configure language understanding.
* Learn how to call a language understanding model from an IoT device.

## Hardware required

* Wio/Pi
* USB Microphone (Pi)
* Grove button (Pi)

## Software/service

[2021-05-25 18:09] jimbobbennett opened #30 "Lesson 23 – Giving spoken feedback"
# Lesson

## Concepts taught

* AI models can convert text to spoken words, using a variety of voice models.
* This speech can be played on an IoT device.

## Learning objectives

* Learn about text to speech.
* Learn about different voice models.
* Learn how to convert text to speech using an AI service and play the speech on an IoT device.

## Hardware required

* Wio/Pi
* USB Microphone (Pi)
*

[2021-05-25 18:10] jimbobbennett opened #31 "Lesson 24 – Multiple language support"
# Lesson

## Concepts taught

* AI models can translate between different languages.
* Spoken words can be translated into one language, processed for language understanding, and the result translated back to the original language.

## Learning objectives

* Learn about AI translations.
* Learn how to translate the incoming speech, detecting the language.
* Learn how to translate the outgoing spee

[2021-05-25 23:51] jimbobbennett opened #32 "Add support for sunlight sensor"
At the recommendation of Seeed, the light sensor used in lessons 3 and 4 for the Pi should be changed to use a sunlight sensor instead of a light sensor.

The hardware guide will also need to be updated.

[2021-06-01 18:54] jimbobbennett opened #43 "Translation - Spanish"
Translate the curriculum in to Spanish. Use this issue for all discussions during this work.

[2021-06-01 18:55] jimbobbennett opened #44 "Translation - Macedonian"
Translate the curriculum in to Macedonian. Use this issue for all discussions during this work.

[2021-06-01 18:56] jimbobbennett opened #45 "Translation - Arabic"
Translate the curriculum in to Arabic. Use this issue for all discussions during this work.

[2021-06-01 18:57] jimbobbennett opened #46 "Translation - Chinese"
Translate the curriculum in to Chinese. Use this issue for all discussions during this work.

[2021-06-01 18:58] jimbobbennett opened #47 "Translation - Indonesian"
Translate the curriculum in to Indonesian. Use this issue for all discussions during this work.

[2021-06-02 08:20] Iftu119 opened #50 "Translation - Bengali"
**Translation of this curriculum in Bengali (aka Bangla).** This issue is to be used for all discussions during this work.
Some resommendations are  attached here regarding the usage of the contents and contributing into Bengali translation.
The main readme file containing currciulum overview is [translations/README.bn.md](https://github.com/Iftu119/IoT-For-Beginners/blob/main/translations/README.

[2021-06-14 17:50] EliteWarrior315 opened #78 "Translation - Hindi"
Translation of this curriculum to Hindi. This issue is to be used for all discussions during this work.

[2021-06-17 00:42] jimbobbennett opened #88 "Swap sunlight sensor for light sensor"
Seeed are having issues with supplies for the sunlight sensor, so this needs to be changed back to the light sensor

[2021-06-17 01:05] #88 closed, assigned to nobody

[2021-06-17 01:08] #32 closed, assigned to nobody

[2021-06-18 03:16] Iftu119 opened #99 "Home Assistants Security Explanation"
## Chapter : 1-Getting Started ; Lesson : 2 - A Deeper Dive into IoT
### The Readme file of this [lesson](https://github.com/microsoft/IoT-For-Beginners/blob/main/1-getting-started/lessons/2-deeper-dive/README.md) requires slight explanation

In the 69th line, when discussed the security issues of the home assistants , it says :

The latter part that says `keeping everything else you say private`

[2021-06-19 02:18] #99 closed, assigned to nobody

[2021-06-19 06:48] Iftu119 opened #106 "Repetition of Pip Installation Guide"
In the [pi.md](https://github.com/microsoft/IoT-For-Beginners/blob/main/1-getting-started/lessons/1-introduction-to-iot/pi.md) , the details & instructions for Pip installation have been discussed twice in  **54** and **168** lines. I am not sure if it's intentionally kept twice or if any one of them was to be removed. Please have a look if it's okay.

The same text that has been repeated in both

[2021-06-19 12:30] #106 closed, assigned to nobody

[2021-06-29 00:07] jimbobbennett opened #128 "Additional resources"
Add an additional resources guide:

* Microsoft Learn learning paths
* AZ-220 certification and study prep
* http://aka.ms/iot-curriculum

[2021-06-29 01:28] jimbobbennett opened #130 "Deploy action is erroring"
When the quiz app is deployed, this error is given:

[code]

[2021-07-02 14:36] Iftu119 opened #145 "Hyperlink Redirection Mismatch in 2-Farm"
In the 7th line of the  `2-farm`  [Readme](https://github.com/microsoft/IoT-For-Beginners/blob/main/2-farm/README.md) , the hyperlink text says `Clean Up Your Project` , but redirects straight to the [lesson-6](https://github.com/microsoft/IoT-For-Beginners/blob/main/2-farm/lessons/6-keep-your-plant-secure/README.md) instead of the file [Clean Up Your Project](https://github.com/microsoft/IoT-For-

[2021-07-03 16:33] #145 closed, assigned to nobody

[2021-07-06 00:32] #8 closed, assigned to jimbobbennett

[2021-07-06 00:32] #9 closed, assigned to jimbobbennett

[2021-07-06 00:32] #10 closed, assigned to jimbobbennett

[2021-07-06 00:32] #11 closed, assigned to jimbobbennett

[2021-07-06 00:35] jimbobbennett opened #156 "Sketchnotes"
Create sketch notes for all the lessons.

Sketchnotes live in the [sketchnotes](https://github.com/microsoft/IoT-For-Beginners/tree/main/sketchnotes) folder. Each lesson should start with the sketch note and a note about opening it to see a full size version, as well as attribution.

[code]

## Sketchnotes to do

* [x] Lesson 1
* [x] Lesson 2
* [x] Lesson 3
* [x] Lesson 4
* [ ] Lesson 5
* [ ] Less

[2021-07-06 00:35] #12 closed, assigned to nobody

[2021-07-06 00:35] #13 closed, assigned to nobody

[2021-07-06 00:36] #14 closed, assigned to nobody

[2021-07-06 00:36] #15 closed, assigned to nobody

[2021-07-06 00:36] #16 closed, assigned to nobody

[2021-07-06 00:36] #17 closed, assigned to nobody

[2021-07-06 00:50] jimbobbennett opened #158 "Quizes"
Each lesson needs a pre- and post- lesson quiz.

## Lessons

* [x] Lesson 1
* [x] Lesson 2
* [x] Lesson 3
* [x] Lesson 4
* [x] Lesson 5
* [x] Lesson 6
* [x] Lesson 7
* [x] Lesson 8
* [x] Lesson 9
* [x] Lesson 10
* [x] Lesson 11
* [x] Lesson 12
* [x] Lesson 13
* [x] Lesson 14
* [x] Lesson 15
* [x] Lesson 16
* [x] Lesson 17
* [x] Lesson 18
* [x] Lesson 19
* [x] Lesson 20
* [x] Lesson 21
* [x] Lesson

[2021-07-06 00:50] #18 closed, assigned to nobody

[2021-07-06 00:50] #19 closed, assigned to nobody

[2021-07-06 00:50] #20 closed, assigned to jlooper

[2021-07-06 00:50] #21 closed, assigned to nobody

[2021-07-06 00:51] #22 closed, assigned to jimbobbennett

[2021-07-06 00:51] #23 closed, assigned to nobody

[2021-07-06 00:51] #24 closed, assigned to nobody

[2021-07-06 00:51] #25 closed, assigned to jimbobbennett

[2021-07-06 00:51] #26 closed, assigned to jimbobbennett

[2021-07-06 00:51] #27 closed, assigned to nobody

[2021-07-06 00:53] #130 closed, assigned to jlooper

[2021-07-07 01:52] #158 closed, assigned to jimbobbennett

[2021-07-07 17:00] jimbobbennett opened #172 "Support LMS"
Add support for LMSes like Moodle and Canvas

[2021-07-08 18:05] Iftu119 opened #180 "Hardware.md"
Few recommendations for the [hardware](https://github.com/microsoft/IoT-For-Beginners/blob/main/hardware.md) page.

1. In the 7th line, there should be `its` instead of` it's` .
2. If we could add something like
[code]
It would help students to easily navigate in the doc.

3. In the 7th line, we see

If that primary lesson is hyperlinked, it would make things easy for the users of this curriculum.

[2021-07-09 01:58] #180 closed

[2021-07-09 01:58] jimbobbennett commented on #180
I've added suggestions 1 and 3. I don't think we need contents - this is a short guide listing the hardware needed, not a lesson.

[2021-07-09 05:27] vishvanathan-k opened #186 "Isn't void main() mot allowed in C++ ??"
I am C++ learner, i don't know about IoT. _**Just out of curiosity**_, Isn't void main() considered invalid from C++ 98.Or is it only for normal C++ and not the C++ IoT devices use ???
Edit: I am talking about IoT generally, bcoz I have come across some using void main() , Because its a IoT repo. Perphaps you can guide me. Thanks

[2021-07-09 20:15] jimbobbennett commented on #186
`void main()` is definitely not standard C++. *If* your compiler supports it then you still shouldn't use it as it could have undefined behavior.

For IoT a lot of the time this a moot point as the frameworks handle this for you. For example, with Arduino, your `main` function (as in the first part of your code that is called) is `setup`, called by the Arduino framework.

[2021-07-10 02:02] vishvanathan-k commented on #186
ohh! Thanks @jimbobbennett  for clarifying my doubt :+1: :smile:

[2021-07-10 02:02] #186 closed

[2021-07-10 18:16] mika76 opened #189 ".net core / c#"
Just wondering, can't you run .net core on rpi? Why not use that instead of python?

[2021-07-10 18:35] jimbobbennett commented on #189
You can, but Python is better for IoT IMHO on a Pi.

* More students learn Python either at high school, or at Uni, or via self guided learning as most of the Pi learning is for Python. This means the learning curve for IoT is just IoT, not a programming language.
* There are much better ecosystems for hardware using Python. For example, the Seeed grove kit has Python libraries, but not .NET libra

[2021-07-10 19:30] mika76 commented on #189
I guess all those are true, but it also perpetuates the problem. Everything is python so let's just use python does not extend the eco-system at all.

Considering this project is Microsoft owned, why not push .net core a little? It works and a little push might actually be all that is needed. Even if as an alternative...

[2021-07-10 19:34] jimbobbennett commented on #189
I fail to see this as a problem. Python is a great language, and there is absolutely no problem in using it. Microsoft supports many languages on many platforms, including Python.

This is open source and MIT licensed, so if you want to fork it and port to .NET core then be my guest!

[2021-07-10 19:34] #189 closed

[2021-07-11 07:49] mika76 commented on #189
Python is a fine language, but why limit this to it? It's for teaching so why not teach some .net too?

Also what's with the "so if you want to fork it and port to .NET core" comment and closing this issue? It's like a slightly nicer way of telling me to f-off and that this is not a discussion worth having. I would have made it a discussion if discussions were turned on on the repo but an issue wa

[2021-07-12 11:38] aliozgur opened #193 "Translation - Turkish"
This issue was created to track progress and discussions for the Turkish translation.

[2021-07-12 12:59] Mozuha opened #195 "Translation - Japanese"
This issue was created to track progress and discussions for the Japanese translation.

(*I am a newbie to the open-source project contribution, so I am not sure whether I can already start translating the docs and make a pull request...)

[2021-07-12 13:05] CinnamonXI commented on #195
You can start making pull requests, everyone started from somewhere.
I’m sure Jim will be happy to approve them

[2021-07-12 13:06] Nahor1 commented on #195
こんにちは こんにちは私の名前はローハンです こんにちは私の名前はローハンです

[2021-07-12 13:07] Nahor1 commented on #195
私はオープンソースプロジェクトへの貢献の初心者なので、すでにドキュメントの翻訳を開始してプルリクエストを行うことができるかどうかわかりません...）

[2021-07-12 13:09] Nahor1 commented on #195
私はオープンソースプロジェクトへの貢献の初心者なので、すでにドキュメントの翻訳を開始してプルリクエストを行うことができるかどうかわかりません...）

[2021-07-12 13:21] Iftu119 commented on #195
Hi @Mozuha !
Welcome.
Feel free to contribute.  Check out the [Translations](https://github.com/microsoft/IoT-For-Beginners/blob/main/TRANSLATIONS.md) guideline. Looking forward to seeing you adding Japanese contents !

[2021-07-12 15:23] jimbobbennett commented on #195
Awesome, thanks @Mozuha! Very excited for a Japanese translation.

[2021-07-12 15:23] jimbobbennett commented on #193
Awesome! Very excited for this!

[2021-07-12 15:40] jimbobbennett commented on #189
The "if you want to fork it comment" was not meant as a 'f-off', it was highlighting that this curriculum is free and open source, so if anyone wants to port it to a different IoT ecosystem they are more than welcome to, that was part of the reason for making it MIT licensed. I'm sorry if you feel that it came across that way, that was never the intent.

The issue was closed because we are not goi

[2021-07-12 16:15] Mozuha commented on #195
Greetings all, and thank you for the advice:smile:
I will start off with the '1-getting-started' folder.
By the way, is it better if I write the comments both in English and Japanese here?

[2021-07-12 17:16] Mozuha commented on #195
Hello, @jimbobbennett. Upon translating, should I focus on the syntactic translation or the semantic implication? In other words, should I just translate the sentences as it appears or arrange it so it does make more sense to natives?

[2021-07-12 18:00] jimbobbennett commented on #195
Both please! I and the other folks involved in this curriculum don't speak Japanese, so if you do both we can get involved in discussions as well.

I would translate it so it makes sense to Japanese speakers and arrange as necessary to achieve this.

[2021-07-13 11:41] The-Q opened #199 "Translation - Russian"
This issue was created to track progress and discussions for the Russian translation.

[2021-07-13 15:54] aliozgur commented on #193
@jimbobbennett should we rename file references as per the translations guideline.
For example in the README.md there is a reference to TRANSLATIONS.md file, should we change the reference file name to TRANSLATIONS.**tr**.md or keep it as is.

[2021-07-13 23:38] Debabelkacem opened #201 "hy"

[2021-07-13 23:56] #201 closed

[2021-07-14 00:01] jimbobbennett commented on #193
If there is a translated version, then yup, we should link to it - all the translated files should link to translated files where available.

[2021-07-14 08:46] Kishan6415 opened #203 "Iot"

[2021-07-14 11:08] jks-liu commented on #46
How do we deal with different `zh`s like `zh-CN`, `zh-TW`...?

[2021-07-14 11:23] Mireille-T commented on #46
If it helps, just as a note, right now I am translating to zh-cn :)

[2021-07-14 14:48] leocamello opened #208 "Translation - Portuguese"
This issue was created to track progress and discussions for the Portuguese translation.

[2021-07-14 15:45] #203 closed

[2021-07-14 18:11] petertuton opened #209 "Typo in lesson 1 sketchnote: "Thing" instead of "Think""
IoT-For-Beginners/sketchnotes/lesson-1.jpg

Typo in lesson 1 sketchnote: It says "Thing of it" instead of "Think of it" (top-middle box). Normally the intended meaning would be obvious, but given the context it should probably be changed :)

Great sketches, btw!!

[2021-07-14 21:47] jimbobbennett commented on #46
Good question. Adding @jlooper who has supported the translations in other repos.

[2021-07-14 22:01] #7 closed

[2021-07-14 23:56] jlooper commented on #46
hi, there should be one file for Simplified Chinese (README.zh-cn.md) and one for Traditional Chinese (README.zh-tw.md). Thank you!

[2021-07-15 06:40] Mireille-T commented on #46
Thank you, I'll take note and send in PRs to change the file names of the files I've translated from `zh` only to `zh-cn`.

[2021-07-15 09:14] NeroBlackstone opened #214 "Please stop accepting machine translated articles"
This is a amazing project, I like it very much ~

As a native Chinses speaker, I check some Chinese translation and I think it is meaningless.

Bad machine translation is not only unreadable, but also increases the burden on those who really want to translate these articles.

I recommend adding "Don't use machine translation" to the translation guidelines.

[2021-07-15 09:24] Pandz18 commented on #214
Hi,

As you're a native speaker, do please correct any mistakes that you find in the translations as it would help make it easier to understand.

I also do agree that the rule against machine translation should be placed in the translation guidelines !

Have a great day, cheers !

[2021-07-15 09:34] NeroBlackstone commented on #214
Oh, Thank you for understanding!

[2021-07-15 09:54] jks-liu commented on #46
I'll try translating the quiz-app. I think I can finish it in 10 days.

[2021-07-15 11:09] henry-js opened #215 "`npm run convert` fails with error"
`npm run convert` fails with error:
[code]
Relative path for node_modules needs to be correctly set

[2021-07-15 11:18] jacknjill1133 commented on #215
C

[2021-07-15 17:59] jlooper commented on #215
This looks like a path problem particular to Windows - do you have a fix in mind that we can append to the instructions? If so please PR, thank you

[2021-07-15 18:01] 9Xman9 commented on #215
Jen Looper ***@***.***>于2021年7月15日 周四23:59写道：

Yes ok

[2021-07-15 18:26] Carfox commented on #43
Mi hablar español, mi pude traducir

[2021-07-16 03:56] max-sun-hongyi commented on #46
Hi all, I'm happy to contribute to this project, do we have any instructions on how?

[2021-07-16 07:40] Mireille-T commented on #214
Hello, thank you very much for your contribution, and sorry for the mistakes in earlier translations! They aren't machine-translated, but since Chinese is my second language and not my first (though I did study it officially), my phrasings may be awkward and I'm learning from this experience as well.

I agree that poor translations are bad and should be avoided, so I'm trying to improve my transla

[2021-07-16 11:13] buseorak commented on #193
Greetings! Is there a team ready, working on the Turkish translation? I would love to join and work together. Could you please walk me through the process?

[2021-07-16 11:25] aliozgur commented on #193
Hi @buseorak,
Currently I'm the only one woking on the Turkish translation. I'll get in touch with you as soon as possible and see if we can form a team.

[2021-07-16 16:02] jimbobbennett commented on #46
Hey @max-sun-hongyi! Thanks for offering to help.

You can find some translation instructions here: https://github.com/microsoft/IoT-For-Beginners/blob/main/TRANSLATIONS.md

Can you coordinate with the rest of the folks here as to what files you'd like to translate. Fork the repo, translate, and once you are done, raise a PR and request a review from @Mireille-T. Once approved we'll get it merged.

[2021-07-16 16:05] jimbobbennett commented on #214
Thanks all for your understanding here. I'll close this issue and appreciate you all working together on the translations in the relevant issues and PRs.

[2021-07-16 16:05] #214 closed

[2021-07-16 21:25] #28 closed

[2021-07-16 21:26] #29 closed

[2021-07-16 23:50] jimbobbennett commented on #78
@EliteWarrior315 @innovation-platform @AdityaGarg00 @Iftu119 @Anurag-0-1-A - there are a number of open PRs for Hindi translations. Can you review them please and let me know which ones to merge. Thanks!

[2021-07-17 02:16] Iftu119 commented on #78
I do not really understand  Hindi that much. Rest of the folks, assigned into this language can do so.

[2021-07-17 03:25] AdityaGarg00 commented on #78
@Anurag-0-1-A  please review those PR's as we need a third reviewer for those .

[2021-07-17 03:25] Mireille-T commented on #46
Hi @max-sun-hongyi , thanks so much for your help!

Currently I've translated the main [README.md](https://github.com/microsoft/IoT-For-Beginners/blob/main/README.md) as well as all but pi.md in [1-introduction-to-iot](https://github.com/microsoft/IoT-For-Beginners/tree/main/1-getting-started/lessons/1-introduction-to-iot), which I am working on now. However, I understand there are a couple of mis

[2021-07-17 11:21] loversun08 commented on #209
[]()@nitya

[2021-07-17 11:31] wilsonmar opened #225 "Discussion category for class discussions"
A Category must be selected when adding a discussion.
But none of the existing categories (General, Q&A) seem appropriate for class discussions. How about a new category:

**✅ Class discussions**
Respond to prompts in the readings

Only a Org Admin/Owner can add/maintain Discussion Categories. See https://docs.github.com/en/discussions/managing-discussions-for-your-community/managing-categories-fo

[2021-07-17 14:02] alihakimtaskiran opened #226 "Translation-Turkish"

[2021-07-17 14:04] #226 closed

[2021-07-17 14:05] alihakimtaskiran commented on #193
I'm creating Turkish version of README.md

[2021-07-17 14:12] Whitedevillwd opened #227 "Cpp"

[2021-07-17 14:12] #227 closed

[2021-07-17 15:57] 7suren opened #228 "IOT course"

[2021-07-17 16:46] wilsonmar opened #230 "Use Microsoft's automated Translator"
Microsoft AI has an automatic translation service that translates text into other human languages.
https://azure.microsoft.com/en-us/services/cognitive-services/translator/
It is quite capable: https://www.inverse.com/article/42340-microsoft-ai-translation
but it would require someone to review and touch up some lines, which is a lot less work than manually translating everything.
It can be run us

[2021-07-17 16:47] wilsonmar commented on #208
See https://github.com/microsoft/IoT-For-Beginners/issues/230

[2021-07-17 16:48] wilsonmar commented on #199
See https://github.com/microsoft/IoT-For-Beginners/issues/230

[2021-07-17 16:48] wilsonmar commented on #195
See https://github.com/microsoft/IoT-For-Beginners/issues/230

[2021-07-17 16:48] wilsonmar commented on #193
See https://github.com/microsoft/IoT-For-Beginners/issues/230

[2021-07-17 16:48] wilsonmar commented on #78
See https://github.com/microsoft/IoT-For-Beginners/issues/230

[2021-07-17 16:49] wilsonmar commented on #46
See https://github.com/microsoft/IoT-For-Beginners/issues/230

[2021-07-17 17:46] aliozgur commented on #193
Hi, I've already translated README and other files in the root folder. Lesson-1 readme also translated and other files in lesson 1 are in progress. I think we should get in touch and coordinate our efforts.

[2021-07-17 17:46] aliozgur commented on #193
Hi, I've already translated README and other files in the root folder. Lesson-1 readme also translated and other files in lesson 1 are in progress. I think we should get in touch and coordinate our efforts.

[2021-07-17 17:59] alihakimtaskiran commented on #193
What about accelerating the task by using translator which mentioned in #230

[2021-07-17 18:01] Anurag-0-1-A commented on #78
Thanks for sharing @wilsonmar !! Is there any way we can integrate this feature into GitHub or Can it only translate files for us?

[2021-07-17 18:14] alihakimtaskiran commented on #230
@wilsonmar  Is it successful at saving markdown contents.(i.e Click [here](https://github.com) ---> Buraya [tıklayın](https://github.com)

[2021-07-18 01:16] Tv-igtmomsp opened #233 "EasyPeezy"
Great work!!

[2021-07-18 03:57] Tv-igtmomsp opened #234 "Nodl"
![image](https://user-images.githubusercontent.com/85773178/126055181-30b8906d-4dae-4550-8886-d5cf054e7e94.png)

[2021-07-18 05:24] 2015VaibhavDevkar opened #235 "IoT for beginners"
IoT for beginners

[2021-07-19 05:43] innovation-platform commented on #78
Yesterday I have made a commit to my PR but I am unable to see the commit in the PR while the commit is visible in the forked repo
![image](https://user-images.githubusercontent.com/65439306/126108571-b59590fa-d6c8-45f5-886c-f20d6f8c5999.png)
I don't know why it is loading since yesterday. Can someone help me to figure this out

[2021-07-19 09:16] leocamello commented on #208
Translation of Getting Started README.md to portuguese already delivered.
I am currently working in the translation of lesson 1, to be delivered soon. :)

[2021-07-19 15:16] #235 closed

[2021-07-19 15:16] #234 closed

[2021-07-19 15:17] #233 closed

[2021-07-19 15:19] jimbobbennett commented on #78
I wonder if it is because the repo is now public, but your fork is private. Can you try making your fork public to see if it works?

[2021-07-19 17:44] jimbobbennett commented on #230
![A gif saying well yes but actually no](https://media.giphy.com/media/SVgKToBLI6S6DUye1Y/giphy.gif)

Based on the discussion on https://github.com/microsoft/IoT-For-Beginners/issues/214, literally titled *Please stop accepting machine translated articles* I'm hesitant to push machine translations. I have no issues with them being used as a base line, but the pages do need a thorough human review

[2021-07-19 17:52] jimbobbennett commented on #225
I've added 👩‍🎓 Lessons as a category, and moved your IoT data discussion to this category.

[2021-07-19 17:52] #225 closed

[2021-07-20 04:03] innovation-platform commented on #78
Thank you @jimbobbennett. I have made the forked repo to public but the problem still persists.

[2021-07-20 13:57] aliozgur opened #246 "How to serve localized content"
I know we can use docsify for offline access, but as far as I know docsify does not have a built in support or straightforward way for multi language support.

Are there any plans regarding the platforms and tools which will be used to serve the lesson's content?

[2021-07-20 15:22] jimbobbennett commented on #246
Great question. @jlooper - any ideas?

[2021-07-20 15:26] jlooper commented on #246
Very good question indeed!  I did a little digging into Docsify's wiki and issues: https://github.com/supermemo-wiki/SuperMemoAssistant.Wiki/issues/55 - sounds like it's doable, but as you say not straightforward.

The Docsify maintainer did reach out on Twitter, he quite likes our projects, so let's try to. see what he says. To Twitter!

[2021-07-20 17:36] jimbobbennett commented on #78
Hmmm - not sure what to recommend here. I you know the files you changed, can you re-clone then copy the changed file into the new clone?

[2021-07-21 05:32] innovation-platform commented on #78
Thanks @jimbobbennett. I have created a new pull request.

[2021-07-21 12:23] Tv-igtmomsp opened #250 "16kFSbpdBe7DrUYtgSkLLkMDV6RT7QP52477MXa7q9VwERU4 [dot](address)<503c>[bitcoin](![image](https://user-images.githubusercontent.com/85773178/126487645-f2e6426d-c3cc-4826-a2e0-ddb759d835c7.jpeg)"
16kFSbpdBe7DrUYtgSkLLkMDV6RT7QP52477MXa7q9VwERU4 [dot](address)<503c>[bitcoin](![image](https://user-images.githubusercontent.com/85773178/126487645-f2e6426d-c3cc-4826-a2e0-ddb759d835c7.jpeg)

__Originally posted by @Tv-igtmomsp in https://github.com/Tbellmoney1/WetBets/issues/11__

[2021-07-21 17:48] JustZeus commented on #43
Hola Muchachos @Sambek99 @pacomgh @OrlandoBBatiz , tengo un PR en la lección 1-1 pendiente de revisión por si alguno me puede hacer el favor de revisarlo, saludos! estoy al pendiente

[2021-07-22 07:39] aliozgur commented on #246
As far as understand from Docsify docs and issues, I think we will need to reorganize localized content under folders named after the ISO country/language codes. But, I will check if it is possible to create a Docsify plugin to interpret our current content organization.

[2021-07-24 13:20] franva opened #260 "Grove - Time of Flight Distance Sensor is out of stock"
Hi,

I am about to place an order for the set of hardware and found that
the Grove - Time of Flight Distance Sensor is out of stock,

Could you please provide any alternatives?

How about these 2?

https://www.aliexpress.com/item/32908633788.html?spm=a2g0o.productlist.0.0.14361772W52XlZ&algo_pvid=1aed845c-b097-414b-9bd0-6891634c6350&algo_exp_id=1aed845c-b097-414b-9bd0-6891634c6350-9

https://www.a

[2021-07-24 17:32] jimbobbennett commented on #260
I'm not sure how well they would work - the grove sensor has the pins and circuitry to work with the grove libraries that are used in the code. If you use a different sensor, then you will need to work out how to interact with it yourself.

[2021-07-25 01:21] franva opened #265 "Many IoT components are out of stock or retired"
Hi there,

It's great to see that Microsoft launched this fantastic project based course.
After watched its videos and all exciting talks about this project on YouTube, I am inspired by this course and decided to start it.

However, I found many of the devices required or optionally required are out of stock or retired
![image](https://user-images.githubusercontent.com/5151146/126884391-839649da-d

[2021-07-25 05:53] stevenwsg commented on #46
Hi， when you finish it, can you give a message and url? thans. You do a good job

[2021-07-25 09:45] jks-liu commented on #46
@stevenwsg  #251 is completed. After it is merged, you can use the app in <https://brave-island-0b7c7f50f.azurestaticapps.net/>

[2021-07-25 12:41] franva commented on #260
understood. I have created a new issue which has a list of out of stock or retired hardware.
https://github.com/microsoft/IoT-For-Beginners/issues/265

I will close this one.

[2021-07-25 12:41] #260 closed

[2021-07-27 12:51] franva commented on #265
Emailed to Seeed Studio and just received a reply from the sale representative saying the 6V Mini Water Pump will no longer be in stock.

Here is the email from Seeed Studio:
------------------------------------

Hi Seeed customer,

Thanks for the inquiry!

Sorry this item will no longer be in stock.

Please feel free to contact us if you have any questions. Thanks.

Best Regards!

Lynn
Seeed Baza

[2021-07-27 14:56] ptoonen opened #269 "Unclear instructions in lesson 4"
Hi,

first of all: awesome project! I plan to run through this with a bunch of students starting the new school year (September). I figured I'd run through it myself first though.

In lesson 4 it becomes rather unclear what's to be [expected](https://github.com/microsoft/IoT-For-Beginners/blob/main/1-getting-started/lessons/4-connect-internet/README.md#install-python-and-vs-code
) when it comes to

[2021-07-28 00:26] jimbobbennett commented on #269
Hey @ptoonen - this is great to hear. Let me know if there is any way I can help support you with your students.

When running on the Pi there is no need to set up a virtual environment. The Grove install script installs pip packages globally, so rather than add the complexity of a virtual environment and having to re-install the grove packages into the virtual environment, I felt it was easier to

[2021-07-28 06:55] ptoonen commented on #269
Hey Jim, my suggestion would be to indeed provide some more clarity that the entire virtual environment section - rather than just 'this step' - can be skipped and add some instructions how to open a second (terminal) window. I think it would save me a lot of questions ;-)

[2021-07-28 08:37] leocamello commented on #208
Translation of lesson 1 of Getting Started is done.
I started working on lesson 2. To be delivered soon
;)

[2021-07-30 17:13] jimbobbennett commented on #269
I've added a bit more details, but would love a PR with more improvements that would help clarity!

[2021-08-01 16:03] jlooper commented on #265
Thank you for the heads up here. Let's see if @jenfoxbot or @jimbobbennett have an idea on how to replace this item

[2021-08-03 14:33] jlooper commented on #269
@ptoonen are we ok to close this issue? Did Jim's changes work for you?

[2021-08-03 14:45] ptoonen commented on #269
Hey @jlooper I haven't got around to checking the full changes yet, I'll try to to that today/tomorrow and will update this issue accordingly :)

[2021-08-04 14:26] ptoonen commented on #269
Yup, looking good @jimbobbennett, thanks!

[2021-08-04 14:26] #269 closed

[2021-08-07 20:01] ewqqrwee opened #278 "刪除測驗應用程序的 PR 構建過程"
https://github.com/jlooper @https://github.com/microsoft/IoT-For-Beginners/blob/b3cde63e788b047a3286693f4f5c8c56afef78ea/.github/workflows/azure-static-web-apps-brave-island-0b7c7f50f.yml#L32

[2021-08-07 20:49] jlooper commented on #278
I don't see a problem, can you be more descriptive please?

[2021-08-12 12:37] Fizzyspark opened #281 "Fizzy"
[@moneygram](https://www.PayPal.com/€1000)

[2021-08-12 12:44] #281 closed

[2021-08-12 12:44] #278 closed

[2021-08-12 12:45] jlooper commented on #230
Closing this issue as Jim responded above

[2021-08-12 12:45] #230 closed

[2021-08-12 12:45] #215 closed

[2021-08-14 11:05] Aniokrait opened #284 "There is a discrepancy between text and image in lesson 3."
First of all, Ttank you for the great project!
I'm going through this tutorials and I found a trivial mistake in the middle of it.

In the lesson3 of getting-started, I added an actuator on a virtual device and wrote the code as the text said.
Then, I realized [the last screenshot](https://github.com/microsoft/IoT-For-Beginners/blob/main/images/virtual-device-running-assignment-1-1.gif) showed 300

[2021-08-18 13:07] Pandz18 commented on #208
Hey , how's Lesson 2 coming along ?

[2021-08-18 13:19] Pandz18 commented on #230
@jimbobbennett I can try to use the software to translate so that at least we can get the bases done and have people proof read them, is it ok with you?

Also how do I use the software ? The website asks me for the pricing plan....I'm a bit lost...sorry

[2021-08-19 00:30] WesEvern opened #287 "RPi Grove Base Hat with MM32 - I2C error"
Hi,  I just got my RPi Grove kit but am stuck at the Nightlight experiment.

I am getting the message _Check whether I2C enabled and Grove Base Hat RPi inserted_

My hat has the MM32 chip instead of the STM32 chip. I [posted](https://forum.seeedstudio.com/t/problems-running-modules-on-a-grove-raspberry-pi-hat/259377/8) on the Seeed forum and they advised changing the I2C address to 0x08 in the adc

[2021-08-22 13:41] IterateMe opened #288 "Translation - French"
This is the french translation of "IoT-For-Beginners".

[2021-08-22 13:48] IterateMe commented on #288
We are two computer engineering students from the "Université de Sherbrooke",  Sherbrooke, Quebec, Canada.
We are thrilled to be a part of this open source project!!

[2021-08-23 23:34] mgungorchamp opened #291 "Error in ntp.h settimeofday is undefined"
{
	"resource": "/c:/...src/ntp.h",
	"owner": "C/C++",
	"code": "20",
	"severity": 8,
	"message": "identifier \"settimeofday\" is undefined",
	"source": "C/C++",
	"startLineNumber": 42,
	"startColumn": 5,
	"endLineNumber": 42,
	"endColumn": 17
}

[2021-08-24 00:08] WesEvern commented on #287
Update.
Stumbled across that I can run my app.py code, this from IoT-For-Beginners/1-getting-started/lessons/3-sensors-and-actuators/pi-sensor.md, from the Run drop down menu and selecting "Run Without Debugging" which puts a bunch of stuff on the cmd line. It works. Why I am not sure. Perhaps by the end of the course I will know.

[2021-08-24 21:30] jimbobbennett commented on #291
More details please. Can you link to a repo with your code in that shows this?

[2021-08-24 21:31] jimbobbennett commented on #287
Thanks for the update @WesEvern. I'm going to try to get hold of the new version of this board and put some appropriate instructions in the guide.

[2021-08-25 01:07] ChungZH commented on #46
I think we can follow this [guidelines](https://github.com/sparanoid/chinese-copywriting-guidelines).

[2021-08-25 04:20] SeaDude opened #293 "How to secure Azure Subscription Key?"
When following the tutorial ["Show map on a webpage"](https://github.com/microsoft/IoT-For-Beginners/blob/main/3-transport/lessons/3-visualize-location-data/README.md#task---show-a-map-on-a-web-page), one of the steps is to place our Azure Maps subscription key into the page's javascript.

This is insecure isn't it? What happens when someone views the page source for the site? Won't the key be exp

[2021-08-25 04:20] yuzh0507 opened #294 "datetime error"
in IoT-For-Beginners/2-farm/lessons/1-predict-plant-growth/code-server/temperature-sensor-server/app.py, [datetime.now()...] will cause an error [AttributeError: module 'datetime' has no attribute 'now']. This function call should be modified as [datetime.datetime.now()...]

[2021-08-25 16:37] mgungorchamp commented on #291
Hi Jim
You can close this issue, it works now. It seems platformio.ini sometimes hicks up and does not do its job properly. Do you face the same problem and you need to reload the window after updating platformio.ini

[2021-08-28 18:10] thucnguyen01913 opened #296 "IoT-for-Newbie"

[2021-08-30 16:31] #296 closed

[2021-09-01 03:19] marty-optum opened #299 "Error running code for pi nightlight sensor"
Hello,

I followed the directions in [Build a nightlight - Raspberry Pi](https://github.com/microsoft/IoT-For-Beginners/blob/main/1-getting-started/lessons/3-sensors-and-actuators/pi-sensor.md) for the light sensor.

When I run `python3 app.py` from within the VS Code terminal, I get the following message:

I checked the code, and it seems ok.  Here is a picture of my Pi setup with the Grove hat,

[2021-09-01 17:52] suryablaster commented on #288
how can i contribute to this

[2021-09-01 19:09] jimbobbennett commented on #299
Hi @marty-optum. Due to chip shortages, I've heard that Seeed have changed the chip in the base hat, so you need to make a code change to one of their libraries. I'm waiting on a new hat myself to test this out and update the instructions.

There is a thread on the Seeed forums about this:

https://forum.seeedstudio.com/t/problems-running-modules-on-a-grove-raspberry-pi-hat/259377/8

Issue #287 wa

[2021-09-01 19:09] #299 closed

[2021-09-02 01:30] marty-optum commented on #299
Thank you, @jimbobbennett  💯

[2021-09-02 02:47] marty-optum commented on #287
I got it working using the clues in the thread above!  This is a bit of a hack, but it works in my environment now, so I'll share my experience here in case it helps others.

**Environment** - I had installed Raspberry Pi OS in "headless" mode with the smaller install footprint.  As a result, I am running VS Code on macOS as my editor, and following the instructions at [Remote access to code the P

[2021-09-03 21:49] IterateMe commented on #288
Hey Suryablaster! Of course you can give us a hand! You can start translating after farm! Me and Charles are translating the root folder, getting started and farm sections.

[2021-09-07 02:11] SBFallout opened #303 "No telemetry data received from test.mosquitto.org"
For the content in 4th lesson in Chapter 1: getting-started-connect-internet, I clone the code from [code-commands/virtual-device](https://github.com/microsoft/IoT-For-Beginners/blob/main/1-getting-started/lessons/4-connect-internet/code-commands/virtual-device/nightlight/app.py) and [code-commands/server](https://github.com/microsoft/IoT-For-Beginners/blob/main/1-getting-started/lessons/4-connect

[2021-09-07 23:43] jimbobbennett commented on #303
Just tested it and it works for me.

Just to confirm - you have the same ID on both client and server?

[2021-09-08 02:36] marty-optum opened #304 "Error looking for upload port in Lesson 4 for Wio Terminal"
I am working on Lesson 4, [Control your nightlight over the Internet - Wio Terminal](https://github.com/microsoft/IoT-For-Beginners/blob/main/1-getting-started/lessons/4-connect-internet/wio-terminal-mqtt.md#control-your-nightlight-over-the-internet---wio-terminal).  I am on step 7 of  the [Task - connect to WiFi ](https://github.com/microsoft/IoT-For-Beginners/blob/main/1-getting-started/lessons/

[2021-09-08 06:29] SBFallout commented on #303
I closed this issue, because potential reason is the networking problem for Chinese student (even I can access test.mosquitto.org and I try it again with VPN)

[2021-09-08 06:29] SBFallout commented on #303
I closed this issue, because potential reason is the networking problem for Chinese student (even I can access test.mosquitto.org and I try it again with VPN)

[2021-09-08 06:29] #303 closed

[2021-09-09 16:57] jimbobbennett commented on #304
I've seen this a few times - the Wio Terminal just refuses to go into upload mode. Sometimes it's caused by having another process accessing it (such as a second VS Code instance), other times there seems to be no pattern to it. Usually unplugging it for a while can fix it.

[2021-09-10 15:51] solutionCraftsman opened #306 "Virtual single-board computer --> CounterFit: command not found"
Update https://github.com/microsoft/IoT-For-Beginners/blob/main/1-getting-started/lessons/1-introduction-to-iot/virtual-device.md#:~:text=the%20following%20command%3A-,CounterFit,-The%20app%20will
It should run *counterfit* instead of *CounterFit*

On a Linux machine. *counterfit* worked, *CounterFit* did not. Error was "CounterFit: command not found".

Same issue at
https://github.com/CounterFit-

[2021-09-10 18:05] #306 closed

[2021-09-10 20:48] marty-optum commented on #304
Thank @jimbobbennett .  I've been racking my brain on this one!  In my troubleshooting attempts, I even figured out how to use the PlatformIO CLI to replicate the problem.  Near as I can tell, the connection between the Mac and the Wio Terminal just **drops**, and will not reconnect.  Then, out of nowhere today, it seemed to establish itself.  Things were fine for about 20 minutes, and now I lost

[2021-09-18 09:53] ishowman commented on #46
I am glad to contribute  to this project.What is the progress of this?

[2021-09-18 10:01] Mireille-T commented on #46
Hello, currently we have files for `zh-cn` (Simplified Chinese), but not `zh-tw` (Traditional Chinese) in the translation folders.

[2021-09-18 10:09] ishowman commented on #46
OK. And how to know which  is not translated in a directly way?It's not effeciently to click to folder and check which  have not done.

[2021-09-18 10:15] Mireille-T commented on #46
@ishowman I think the easiest way is to still check the translations folder, though from what I remember, the content after Lesson 1 (other than the quizzes) has yet to be translated.

@jimbobbennett May I ask if there a more direct way of checking, as per the above query? Thank you!

[2021-09-19 04:22] ishowman commented on #46
I've submit a [pr](https://github.com/microsoft/IoT-For-Beginners/pull/309)，will it auto assign a reviewer?

[2021-09-19 04:33] Mireille-T commented on #46
Hello @ishowman, and thank you very much for the translation! I do not think the creation of a PR itself will automatically assign a reviewer, but you can either tag me @Mireille-T within the PR (preferred) or send a message here so I will be notified, then I can proceed to review the PR when I have the time. :smile:

[2021-09-28 16:04] juliakm commented on #304
@marty-optum I'm running into the same issue with Big Sur, VS Code, and Wio at the same point in the tutorial.

[2021-09-28 16:32] jimbobbennett commented on #304
Just following up on this. I have been having a few connectivity issues with it - on a live stream which was fun. I'm also using Big Sur.

* In PlatformIO, in the devices tab, do you see it? It will be `/dev/cu.usbmodemxxxxxx`

    ![image](https://user-images.githubusercontent.com/1710385/135127607-7a914ec6-fc37-4fce-bc89-29fb7ea17c6d.png)

* What other devices do you have connected? For example,

[2021-09-28 19:23] juliakm commented on #304
@jimbobbennett Thanks for following up! I've found that I sometimes but not always can bring back the device and mount it when I restart my computer. I am able to consistently connect from a Windows computer so I think this is could be a Mac issue.

Here's what seems to happen.
1. The device mounts after restarting my computer.
2. Via VS Code, I upload with PlatformIO.
3. My device ejects automati

[2021-09-29 03:14] marty-optum commented on #304
@jimbobbennett  and @juliakm, what I see is slightly different.

### Environment

- macOS Big Sur 11.6
- VS Code 1.60.1
- PlatformIO IDE 2.3.3 VS Code Extension
- Hardwired thunderbolt/USB-C port on Mac to USB-C port on the WioTerminal.  No adapters or hubs (although I have tried different configurations, such as switching USB ports and using hubs).

[Jim]

This is inconsistent.  After a successfu

[2021-09-29 16:16] jimbobbennett commented on #304
Thanks both.

To get the devices tab, you can also just click the PlatformIO icon in the side too bar (the bug button), then select Quick Access -> PIO Home -> Open. That will bring up the same thing:

![image](https://user-images.githubusercontent.com/1710385/135307072-86fbd24f-ea21-4c2b-be37-903088b2056a.png)

I get this happening a few times. It usually goes away when I do the double pull on th

[2021-09-29 22:05] juliakm commented on #304
Thank you!! That video was very helpful! I wasn't pressing down fast enough. I didn't realize how often my device was leaving upload mode and how to get it back. I don't think that I was ever successfully returning to upload mode unless I restarted my computer. The difference between the blinking and solid light is subtle but very useful. In other words, solid = bad for uploading, blinking = good.

[2021-09-29 22:19] jimbobbennett commented on #304
@juliakm - glad you got it working. It's a failing on our part that we weren't clear enough with how to set the device into upload mode. I'll raise a PR with more detailed instructions.

[2021-09-29 22:38] jimbobbennett commented on #304
Right - I've updated the lesson 1 Wio lab with this. @marty-optum, does this fix your issues?

[2021-09-29 22:39] coreyi opened #311 "Can't get VS code to ssh to raspberryipi"

[2021-09-29 22:46] coreyi commented on #311
ssh works fine from the cmd or powershell terminal, but not thru VS code (remote-SSH connect to host).  It's starts out fine but eventually dies on a "Bash: Powershell: command not found" error.  I can find lots of other people having the same problem from a couple of years ago, but I have not found a solution.  Same problem from 2 different PC's.  Any help?

Thanks

[2021-09-30 17:30] Ln11211 commented on #78
Hello, can I also contribute in this issue ?, I am also participating in hactoberfest, if yes ?, where should I start/continue my work from ?

[2021-09-30 18:07] wamos commented on #46
Got here from the hacktoberfest-friendly tag. I would like to help translate the curriculum into `zh-tw` as I'm a native traditional Chinese speaker.

[2021-09-30 18:09] jimbobbennett commented on #78
@Ln11211 - anyone can contribute. You can read more details in this issue, and in the [translations guide](https://github.com/microsoft/IoT-For-Beginners/blob/main/TRANSLATIONS.md). Check for any open PRs and find files that haven't been translated and work on those. A few notes:

* Check for other translations to see where the files live
* Make sure links on translated files link to other transla

[2021-09-30 18:11] jimbobbennett commented on #311
When you connect are you selecting Linux for the server type? This error looks like the error you would get if you select Windows as the server type.

[2021-09-30 18:12] Ln11211 commented on #78
@jimbobbennett, thank you so much, I will make sure to do my best while translating..

[2021-09-30 18:59] nihalbaig0 opened #312 "Translation - Bangla"
Created this issue to track progress and discussions for the Bangla translation.

[2021-09-30 19:29] Iftu119 commented on #312
Hi  @nihalbaig0  ! Great to see your interest.
We already have an [issue open for Bangla](https://github.com/microsoft/IoT-For-Beginners/issues/50) (aka Bengali). Please refer to that #50 and close this one.

[2021-09-30 19:37] #312 closed

[2021-09-30 19:43] nihalbaig0 commented on #312
I didn't see that. Thanks for notifying me.

[2021-09-30 21:54] marty-optum commented on #304
@jimbobbennett, I was **successful** 3 attempts out of 3 when trying the double-pull-down before each upload attempt.

I think for me, I did not realize that this was a requirement _**every time you upload**_ to the Wio Terminal, especially since it seemed to work fine with earlier course modules without having to do this.

I did see these instructions in the Wio Terminal User manual that came wit

[2021-09-30 22:39] jimbobbennett commented on #304
Thanks for the update @marty-optum! Will close this.

[2021-09-30 22:39] #304 closed

[2021-10-01 00:31] coreyi commented on #311
Well duh!!!. I'm so dumb to miss that 'little detail'.  Thanks a lot Jim!

[2021-10-01 00:59] jimbobbennett commented on #311
Not dumb at all! If that works please close the issue, if not let me know and we'll see what else might be the issue.

[2021-10-01 15:18] mihir1739 commented on #78
Can you assign me this?

[2021-10-01 16:17] #311 closed

[2021-10-01 19:20] dhivyasreedhar commented on #288
Hi, can I work on this?

[2021-10-02 05:31] nihalbaig0 commented on #50
@Iftu119 , I want to work on the translation of the manufacturing and processing part.

[2021-10-02 05:42] Iftu119 commented on #50
Great @nihalbaig0 ! We usually go lesson by lesson. Right now I am translating, Chapter -4 Lesson-1 .
So I'd recommend you to start working on **Chapter -4 , Lesson 2** - [check-fruit-from-device](https://github.com/microsoft/IoT-For-Beginners/tree/main/4-manufacturing/lessons/2-check-fruit-from-device).

[2021-10-02 05:53] nihalbaig0 commented on #50
@Iftu119  ok .. I will work on Chapter -4, Lesson 2. Thanks for giving the starting point.

[2021-10-03 23:09] jimbobbennett commented on #288
@suryablaster, @dhivyasreedhar - you can indeed contribute to this issue if you speak French! @IterateMe and @charma95 are currently running with the French translations, so definitely work with them on what to translate next.

[2021-10-03 23:11] jimbobbennett commented on #78
@mihir1739 - these translations are large pieces of work, so we don't assign them to anyone. Instead communicate with the rest of the folks in this issue around what is currently being translated, then pick a lesson, translate, and raise a PR for that lesson.

[2021-10-05 13:19] emfoster11 opened #315 "Add timing to your plant control server navigation doesnt work"
Link for "Add timing to your plant control" in README.md in "Automated plant watering" does not navigate like rest of the links.
## Add timing to your plant control does not point to text "Add timing to your plant control server" appropriately and link doesn't navigate. I used these links when navigating around the lessons. Current link - [Add timing to your plant control](#add-timing-to-your-plan

[2021-10-06 00:45] jimbobbennett commented on #315
Good spot @emfoster11. Should be fixed now.

[2021-10-06 00:45] #315 closed

[2021-10-10 12:20] emfoster11 opened #322 "in lesson 16 -Check fruit quality from an IoT device - change that to than in camera sensor section"
Sorry for the nitpickiness - loving the curriculum --- in lesson 16 Check fruit quality from an IoT device ( lesson 2 of 4-manufacturing) - change that to than in camera sensor section
Thanks!
Emily

Usually the cameras that work with IoT devices are much smaller and lower resolution **that** what you might be used to

to

Usually the cameras that work with IoT devices are much smaller and lower r

[2021-10-10 13:23] emfoster11 opened #323 "In lesson 17 Run your fruit detector on the edge - change lor of to lot of in Downsides"
In lesson 17 Run your fruit detector on the edge - change lor of to lot of in Downsides

To have the same level of redundancy on the edge requires large investments and a **lor** of configuration work.

to

To have the same level of redundancy on the edge requires large investments and a **lot** of configuration work.

[2021-10-11 19:43] #322 closed

[2021-10-11 19:43] #323 closed

[2021-10-13 17:12] elisabacelar commented on #208
Hey, I would like to contribute on this task. How can I help? :)

[2021-10-15 15:20] jimbobbennett commented on #208
Hey @elisabacelar - we'd love you to help with the translations! SO far only lesson 1 has been translated into Portuguese, so feel free to grab a lesson and translate! We have tips in our [Translations guide](https://github.com/microsoft/IoT-For-Beginners/blob/main/TRANSLATIONS.md), but also check out the other translations for guidance. Feel free to teach out with any questions, and I, @Iftu119,

[2021-10-19 18:59] Iftu119 commented on #50
Yeah sure!

[2021-10-19 21:14] pmossel opened #334 "Has the mosquitto been swatted?"
On two days, 10/17 and 10/19, I was unable to connect to the mosquitto MQTT test broker using WiFi (WIO) or Ethernet (Pi). Internet connection is stable and fast.

[ But: on 10/20/21 it works again. Keep our fingers crossed. ]

Message on 10/17 and 10/19:
  Attempting MQTT connection...Retying in 5 seconds - failed, rc=-4

Apparently, return code -4 is a timeout trying to connect to the broker. I

[2021-11-08 06:43] ghosh-r opened #344 "How much RAM is needed for the RPi device?"
I have searched through the repo, and I could not find the amount of memory necessary in the Raspberry Pi device to complete this course.

I am planning to buy an RPi 4, but unsure about the memory amount.

Which one should I buy- 2GB, 4GB, or 8GB?

Is 2 gigs of RAM enough for this course? Or should I buy another one?

[2021-11-08 08:11] ghosh-r commented on #344
I must mention that being able to be run a full-fledged OS on the device itself is not a must for me.

I can easily use the device as a headless one and SSH into it from another device.

Please advise on the size of RAM.

[2021-11-08 16:59] jimbobbennett commented on #344
I've just added a note to the hardware.md file to clarify this.

If you are planning to run VS Code directly on the Pi, then any Pi 4 with 2GB of RAM or more will work. The new 1GB on doesn't have enough RAM to run VS Code and the Python language server well on the device.

If you are planning to run VS Code on your PC or Mac and connect using remote SSH, then any Pi 4 will work fine, including th

[2021-11-08 17:04] jimbobbennett commented on #344
Closing this as there is also a [discussion opened on the same topic](https://github.com/microsoft/IoT-For-Beginners/discussions/343)

[2021-11-08 17:04] #344 closed

[2021-11-13 08:58] nitin-0 opened #346 "I'm a beginner in c++"

[2021-11-14 10:29] lesliebinbin opened #347 "Not sure if it is an issue to macos 12.0.1 but without underline for lib_deps it actually got dependencies issue for compilation"
Regarding Lesson 4:

Originally:
[code]
Compilation error:

[code]

WIth underline:

[code]

Ok to compile

[2021-11-14 11:00] #347 closed

[2021-11-15 23:00] jimbobbennett commented on #346
Hey @nitin-0, welcome to this repo. As a beginner to C++ there are lots of great resources to help learn both the language and tools. I'm not sure that raising an issue in this repo is the right way to learn though. I'm going to close this, but maybe you could start a [discussion](https://github.com/microsoft/IoT-For-Beginners/discussions) and see if other folks are also learning and you can all s

[2021-11-15 23:00] #346 closed

[2021-11-22 04:56] ozora-ogino commented on #195
Hi all, I'm Ozora. I'm a master student on computer science in Tokyo.
I started to translate this awesome project to Japanese.
Thank you.

[2021-11-22 08:34] ozora-ogino commented on #195
@Mozuha @lftu119 @jimbobbennett
I create new PR for translation of `README.md`.
Could anyone review this?

#348

[2021-11-22 17:12] jimbobbennett commented on #195
@Mozuha, @Nahor1 - as I am not a Japanese reader, would you be able to review this translation? #348

[2021-11-22 22:45] marty-optum opened #349 "RequestsDependencyWarning when attempting to connect Pi device to IoT Hub"
I am going through the [Connect your IoT device to the cloud - Virtual IoT Hardware and Raspberry Pi](https://github.com/microsoft/IoT-For-Beginners/blob/main/2-farm/lessons/4-migrate-your-plant-to-the-cloud/single-board-computer-connect-hub.md#connect-your-iot-device-to-the-cloud---virtual-iot-hardware-and-raspberry-pi) lesson.  I am using VS Code on a Mac as my IDE, and connecting to the Pi remo

[2021-11-23 20:19] jimbobbennett commented on #349
For the first issue, I've seen sometimes PyLance (the language server) doesn't pick up any newly installed packages that are installed after the file is opened via the terminal. You can force it to re-parse the file by closing it and re-opening it again.

[2021-11-23 20:21] jimbobbennett commented on #349
For the second issue - I've seen that before and it's something gone awry in the versions needed of different libraries for different packages. If I try on a new install using the latest Bullseye I don't see it, so something I installed along the way upgraded a package. Try upgrading requests:

[code]

and see if that fixes it.

[2021-11-25 15:41] marty-optum commented on #349
@jimbobbennett , Thank you!  That did the trick!  Have a nice Thanksgiving holiday!

Hopefully, this will help out other students who come across the same problem.  You may close this issue.

[2021-11-26 15:35] marty-optum opened #350 "Error: "gather() got an unexpected keyword argument 'loop' " using the Azure CLI on MacOS to monitor events"
I am going through the [Migrate your plant to the cloud](https://github.com/microsoft/IoT-For-Beginners/blob/main/2-farm/lessons/4-migrate-your-plant-to-the-cloud/README.md#migrate-your-plant-to-the-cloud) lesson. I am using the Azure CLI ver 2.30.0 on macOS 11.6 (Big Sur).

I have successfully connected my Raspberry Pi to Azure IoT Hub and have confirmed the ability to send moisture-sensor teleme

[2021-11-29 19:17] #349 closed

[2021-12-01 03:08] jimbobbennett commented on #350
Hmmm. I'd love to help here but it looks like they've broken Apple Silicon support so I can't run this.

https://github.com/Azure/azure-iot-cli-extension/issues/468

It worked before - I wrote all this from my M1 Mac, so I'm guessing the az cli was running under rosetta 2 before, but now has a universal binary, hence the error.

[2021-12-01 03:09] jimbobbennett commented on #350
As for your issue, I haven't seen it before. Can you raise this on the Azure IoT extension repo?

https://github.com/Azure/azure-iot-cli-extension/issues

For now though, maybe stick to Windows or use the Azure Cloud Shell?

[2021-12-01 03:47] jimbobbennett commented on #350
OK - managed to get the az cli running under rosetta 2, and it seems this is because the `loop` function was deprecated as of Python 3.8, and removed in Python 3.10.

What Python version are you using on Windows? I'm guessing one less than 3.10

[2021-12-01 03:50] jimbobbennett commented on #350
Issue raised against the IoT extension:

https://github.com/Azure/azure-iot-cli-extension/issues/469

[2021-12-01 16:37] marty-optum commented on #350
@jimbobbennett, the version of python on my windows machine is **3.9.9**.

Also, the Mac where I am receiving the loop error has the following attributes:

- python 2.7.16
- python3 3.8.2
- Intel processor
- Homebrew 3.5.5

Looking at the error messages that are output, it appears that the azure cli is using a version of Python that is packaged with homebrew, and that python version is 3.10.

[cod

[2021-12-01 16:47] jimbobbennett commented on #350
Interesting. I've updated the iot extension bug, and will keep this open till that one is resolved.

[2021-12-07 08:35] lesliebinbin opened #352 "Failed to convert text to speech - error -1"
Regarding speech-to-text, I am using WIO Terminal, the builtin microphone, things I have done:
1. comment out two lines:
[code]
because setting the CACert I can not even get back the token

2. the error code return is -1, any idea why? Is it due the the rpcWifi library itself?

[2021-12-19 23:56] marty-optum commented on #350
**Update**: I can confirm that the soft release of the `azure-iot` CLI extension 0.12.1 fixed the error I previously experienced on an **Intel** Mac for my test use case.

I also provided this update to [[bug] Cannot run on macOS due to incompatibilities with the Python version shipped with the Azure CLI #469](https://github.com/Azure/azure-iot-cli-extension/issues/469#issuecomment-997486525)

I d

[2021-12-22 15:34] marty-optum opened #354 "UnicodeDecodeError: 'utf-8' codec can't decode byte"
I am going through the [Decode GPS data](https://github.com/microsoft/IoT-For-Beginners/blob/main/3-transport/lessons/1-location-tracking/single-board-computer-gps-decode.md#decode-gps-data---virtual-iot-hardware-and-raspberry-pi) lesson using a Raspberry Pi. I am using VS Code 1.63.2 to edit remotely from a mac with macOS 11.6 (Big Sur).  The Raspberry Pi is using Python 3.7.3.

I have successful

[2022-01-11 18:54] jimbobbennett commented on #354
Good catch here - I need to tidy the code up a bit.

Essentially what is happening is the serial connection sends data a byte at a time, but UTF-8 contains variable-width characters. This means you can read a byte that is part way through a character, which will fail to decode. This will only happen the first time, as after that full lines will be read.

It runs sometimes because of the random cha

[2022-01-11 18:54] jimbobbennett commented on #354
Let me make some fixes to the code/text to sort this

[2022-01-14 16:44] marty-optum commented on #354
@jimbobbennett ,  I hope you had a restful holiday!  I tested the snippet of code you provided above and it has fixed the problem I was seeing for 3 out of 3 attempts!

Note the following:

- the `serial_conn` method did not resolve for me, so I stayed with `serial`
- I replaced the `line = serial.readline().decode('utf-8')` line in **both** occurrences (before and within the `while` loop)
- I bum

[2022-01-14 17:22] jimbobbennett commented on #354
Good catches on my bad copy/paste from another repo!

[2022-01-15 20:06] marty-optum opened #355 "Missing declaration for response_body"
I am going through the [Geofences](https://github.com/microsoft/IoT-For-Beginners/blob/main/3-transport/lessons/4-geofences/README.md#geofences) lesson using a Raspberry Pi.   I am using VS Code to edit remotely from a mac.

In Step 7 of the [Task - test the geofence from the trigger](https://github.com/microsoft/IoT-For-Beginners/blob/main/3-transport/lessons/4-geofences/README.md#task---test-the

[2022-01-17 16:10] marty-optum opened #356 "gps-trigger Functions app with geo-fence trigger not working when deployed in the cloud"
I am going through the [Geofences](https://github.com/microsoft/IoT-For-Beginners/blob/main/3-transport/lessons/4-geofences/README.md#geofences) lesson using a Raspberry Pi. I am using VS Code to edit remotely from a mac. The python version being used in VS Code on the mac is 3.8.2.

I already verified that the Azure function worked fine with just the iot-hub-trigger.  I also verified that both fu

[2022-01-30 11:04] pirnerjonas opened #357 "Missing explanation for implementation logic lesson 5"
In this [section](https://github.com/microsoft/IoT-For-Beginners/tree/main/2-farm/lessons/5-migrate-application-to-the-cloud#task---create-an-event-trigger) I created the file `__init__.py`. When I run the event trigger in this [section](https://github.com/microsoft/IoT-For-Beginners/tree/main/2-farm/lessons/5-migrate-application-to-the-cloud#task---run-the-event-trigger) it outputs the following

[2022-01-30 11:22] pirnerjonas commented on #357
I just found that in the next [section] (https://github.com/microsoft/IoT-For-Beginners/tree/main/2-farm/lessons/5-migrate-application-to-the-cloud#task---send-a-direct-method-request-to-a-device) the implementation of the logic is explained. Maybe it would be nice to add a disclaimer that soil moisture output logic will be handled in section below.

[2022-02-02 17:37] JoseManuelPereira-Aeca opened #358 "azure free Iot subscription for students under 18"
Hi,

i am a teacher trying the 12 week Iot Course in high School 3 year programming course.  There is one year course  in which we would like very much to teach this course .  We are taking the course ourselves to analise if it is possible to lecture it.

In lesson 8, an Iot subscription is needed. Some of the sudents are under 18 and the student under 18 subscription dont have a Iot service.   Is

[2022-02-02 22:37] jimbobbennett commented on #358
Sorry - we don't have a subscription for under 18s that includes IoT Hub. I've been asking for this, and we are hoping one day to be able to offer this, but no idea when.

The only way to do it would be for you or other teachers to create the hub for the class, then let them connect. This means you will need to be conscious of how many messages they send if you want to stick to the free tier, as m

[2022-02-04 20:13] marty-optum commented on #356
@jimbobbennett , are you still monitoring and responding to these issues?  I hope I did not exceed the quota for number of issues/questions allowed :-)

I have been waiting to hear back from you in case you need me to test/try something else before I destroy these Azure resources.  I'll wait a few more days...

[2022-02-04 20:45] jimbobbennett commented on #356
Apologies, I started a new job recently so haven been buried with getting up to speed on that.

The trigger is being run, so it is unlikely to be an issue with the consumer group or trigger settings. If it runs locally, then the settings would be correct.

Can you post your code?

[2022-02-04 20:45] jimbobbennett commented on #355
Good catch. Want to raise a PR to add this?

[2022-02-04 21:13] marty-optum commented on #356
Which code, specifically, do you want me to post?  And in what format (zipped and attached?) ?

[2022-02-07 20:27] jimbobbennett commented on #356
That's weird - that library is part of tk, a graphics library.

Can you post the contents of your requirements.txt file and your __init__.py files please?

[2022-02-08 00:47] marty-optum commented on #356
@jimbobbennett , Attached are the `requirements.txt` file, as well as the `__init__.py` file for the **geofence-trigger**.   Note: I had to add a `.txt` extension to the python file in order to convince this github interface to let me attach it.

[requirements.txt](https://github.com/microsoft/IoT-For-Beginners/files/8019707/requirements.txt)

[__init__ .py.txt](https://github.com/microsoft/IoT-Fo

[2022-02-13 00:09] marty-optum commented on #356
@jimbobbennett , I think I figured it out.  My code had the following extra import statement:

`from turtle import distance`

I can't recall how it got in there (*scratch_head*), but I compared it against the [sample code in the code/functions folder](https://github.com/microsoft/IoT-For-Beginners/blob/main/3-transport/lessons/4-geofences/code/functions/gps-trigger/geofence-trigger/__init__.py) an

[2022-02-22 18:31] jimbobbennett commented on #356
Cool! Weird how that got there - maybe an auto added import because you typed distance and the tools got over helpful.

I'll close this now.

[2022-02-22 18:31] #356 closed

[2022-02-23 17:45] #358 closed

[2022-02-23 17:46] #355 closed

[2022-03-01 18:03] #350 closed

[2022-03-04 06:58] mouseart opened #368 "There are obstacles to building an environment for virtual single-board computer"
我们正在翻译这个文档的中文版本，所以测试都是在中文系统下进行。我用中文撰写了这个问题报告，并同步提供了英文翻译版本，也方便中文用户参考这个问题。
We are in the process of translating the Chinese version of this document, so the tests are conducted under the Chinese system. I wrote this problem report in Chinese and provided the English translation simultaneously to facilitate Chinese users to refer to this problem as well.

对这个链接的内容进行测试的时候，遇到一系列问题：
When testing the con

[2022-04-12 15:39] marty-optum opened #371 ""exec format error" in docker build"
I am going through the [build your container](https://github.com/microsoft/IoT-For-Beginners/blob/main/4-manufacturing/lessons/3-run-fruit-detector-edge/README.md#task---build-your-container) task in the [Run your fruit detector on the edge](https://github.com/microsoft/IoT-For-Beginners/blob/main/4-manufacturing/lessons/3-run-fruit-detector-edge/README.md#run-your-fruit-detector-on-the-edge) less

[2022-04-21 15:41] maujac commented on #354
Thank you @marty-optum for opening the issue and @jimbobbennett for the proposed solution. It worked like a charm for me.

Is this repo open for contributions? I've created PR #374 to add this solution as a hint in the [Read GPS data - Raspberry Pi](https://github.com/microsoft/IoT-For-Beginners/blob/main/3-transport/lessons/1-location-tracking/pi-gps-sensor.md#read-gps-data---raspberry-pi) lesson

[2022-04-21 18:17] #265 closed

[2022-04-21 21:03] jimbobbennett commented on #354
Fixed by #374, thanks @maujac.

[2022-04-21 21:03] #354 closed

[2022-05-20 21:25] ghosh-r opened #378 "Cannot install necessary programs to setup Raspberry Pi. Always getting errors."
### Discussed in https://github.com/microsoft/IoT-For-Beginners/discussions/377

<div type='discussions-op-text'>

<sup>Originally posted by **ghosh-r** May 21, 2022</sup>
I am trying to use a Raspberry Pi as a headless device, and while I am connected to it through ssh, I cannot complete the suggested setup.

I am trying to follow instruction from [the Raspberry Pi page](https://github.com/ghosh-

[2022-05-20 21:44] ghosh-r commented on #378
Note that I have finished the rest of the setup.

![image](https://user-images.githubusercontent.com/58001482/169616472-9ece42eb-23b3-4ae3-87c7-933072dc5971.png)

[2022-06-09 09:09] ismaelmesa00 commented on #354
Hi, I am with a python project for a 3D printing and I am having a similar issue that I can't repair even doing what you suggest.
My problem is that when I initially run the code everything goes perfect, however after 15 minutes of doing the process the error apears. I try change the decode from UTF-8 to cp1252, ascii and others without luck. Besides due to is a long programm is dificult make long

[2022-06-21 23:55] jimbobbennett commented on #368
macOS issues:

* This is related to some incompatibilities with Python 3.10. Should be fixed in the latest version of CounterFit.

Windows problems:

* You are right about the execution policy setting needed to be set to unrestricted. I'm updating the docs to include this.
* The lxml issue is now fixed in the latest CounterFit

[2022-06-22 03:10] DAVID-ALANYO commented on #378
okay thanks

[2022-06-22 17:00] jimbobbennett commented on #371
Sorry to take so long to get back to this - there have been some issues with the version of docker installed with the IoT edge setup, and been working with the team on those.

If you use the latest install instructions for IoT edge from the MS docs which are linked in the lesson, then it should now work - there's updates to support Bullseye. Just worked through it myself and built the container wi

[2022-06-23 18:09] jimbobbennett commented on #378
Instructions are updated, so closing this. Thanks for your feedback!

[2022-06-23 18:09] #378 closed

[2022-06-23 18:10] jimbobbennett commented on #368
Docs are now updated, so closing this. Thanks for your feedback, and please let me know of any other issues.

[2022-06-23 18:10] #368 closed

[2022-06-28 01:22] IcingTomato opened #384 "All of the Pre-lecture and Post-lecture quizzes' links are broken."
![image](https://user-images.githubusercontent.com/24474531/176066607-6701b798-8199-45f7-a926-b92d0419853a.png)

[2022-06-28 17:04] jimbobbennett commented on #384
Sorry about that - will take a look and get it back up ASAP.

[2022-07-13 06:40] hjlarry opened #385 "the code actuator of virtual-device"
Hi guys, I found the [code](https://github.com/microsoft/IoT-For-Beginners/blob/main/1-getting-started/lessons/3-sensors-and-actuators/code-actuator/virtual-device/nightlight/app.py) in lesson 3(senors-and-actuators)  not work in my browser.

I tried both in win10 and macOS, and both old version or new version of counterfit.

The situation is when you open your chrome dev tools and  lookup the web

[2022-07-14 20:18] leestott commented on #384
@IcingTomato  quizzes are working again

[2022-07-14 20:18] #384 closed

[2022-07-22 20:40] digitalcolony opened #390 "Raspberry PI Hardware link broken"
Seeeds moved the product page to here:
https://www.seeedstudio.com/Grove-Kit-with-Raspberry-Pi-4-designed-for-Microsoft-FarmBeats-for-Students-p-4872.html

[2022-08-03 21:48] jimbobbennett commented on #390
Good spot!

It's actually this kit: https://www.seeedstudio.com/IoT-for-beginners-with-Seeed-and-Microsoft-Raspberry-Pi-Starter-Kit-p-5004.html, not the one you mention above. That's for Microsoft Farmbeats, a digital agriculture education kit.

I've fixed the link, so closing this. Thanks @digitalcolony

[2022-08-03 21:48] #390 closed

[2022-08-07 16:10] Raunak-Singh-Inventor opened #391 "Using Grove Vision AI Module (I2C interface) rather than ArduCam (SPI interface)"
I am trying to follow this tutorial with the Seeed Wio Terminal and the Grove Vision AI Module (https://wiki.seeedstudio.com/Grove-Vision-AI-Module/).

When I try to run my code (05 stock counter) based on the 02 Fruit Quality Detector Example and connect the Grove vision AI module, the camera sets up correctly, but the image is being captured regardless of whether I connect the vision AI module o

[2022-08-08 18:51] Raunak-Singh-Inventor opened #392 "Can't connect to wifi"
@jimbobbennett I can't connect the wio terminal to wifi as part of the stock-counting example. It freezes at `Connecting to WiFi...`

Please help.

Code: https://github.com/Raunak-Singh-Inventor/stock-counter-wio-terminal

[2022-08-08 20:48] Raunak-Singh-Inventor commented on #392
Turns out you need to install the firmware as written in the Seeed wiki: https://wiki.seeedstudio.com/Wio-Terminal-Network-Overview/

[2022-08-08 20:48] #392 closed

[2022-08-08 21:10] Raunak-Singh-Inventor commented on #352
@lesliebinbin Thanks. Commenting this out fixed the issue.

[2022-08-11 17:17] marty-optum commented on #371
Hi @jimbobbennett ,

I just got around to upgrading the Pi OS to Bullseye, and removed/recreated the necessary IoT Hub, etc.  Unfortunately, things are still failing when I try and build the classifier docker container on my Mac.  Here's what I get:

[code]

Looks like there is something that the docker build process does not like about **tensorflow v1.13.1**.  Any thoughts?

[2022-08-15 03:05] peterpanstechland commented on #371
I

The error reports:

[code]

I have run into the same problem as  well.

[2022-08-15 16:52] jimbobbennett commented on #371
Apologies @marty-optum and @peterpanstechland - small typo when I updated the guide. The platform should be `armhf`, nor `arm64`.

[code]

The text has been corrected.

[2022-08-15 16:52] #371 closed

[2022-08-15 23:41] jimbobbennett commented on #391
There is, and I do have the hardware, but not tried it out yet. Let me try to find time to give this a go.

[2022-08-16 10:46] Raunak-Singh-Inventor commented on #391
To complete my project I just used the official ArduCam and was able to train stock detector example. Thanks for your help.

[2022-08-16 10:46] #391 closed

[2022-08-26 20:23] marty-optum opened #396 "Edge devices in "reference IOT architecture" diagram"
My understanding is that if someone has an IoT Edge device, that IoT edge device is basically a place where you could run cloud functions on the local network.  This IoT Edge device could also act as a gateway for other IoT devices on that network.  In other words, if those other IoT devices needed cloud services, they would direct their requests to the IoT Edge device.  That Edge device could eit

[2022-10-01 14:32] Xav83 commented on #288
Hi everyone,

I am discovering this repository while looking for [Hacktoberfest](https://hacktoberfest.com).

I have create the Pull Request #400 , which translates in french the files from the `lesson-template` folder.
This isn't much, but with it, this repository will be one step closer to be fully translated in French.

[2022-10-01 17:54] smalcakmak commented on #193
Hi, if it is still open, I would like to contribute

[2022-10-02 03:33] ManuSquall commented on #288
Hello world, hope you're doing well.

I am here for the same purpose as @Xav83 and have also contributed to [Web-Dev-For-Beginners curriculum](https://github.com/microsoft/Web-Dev-For-Beginners) french translation in the past.

Happy to help as much i can. #SharingIsCaring !

[2022-10-02 20:19] smalcakmak commented on #193
I saw a lot of weird sentence in Turkish translation. It seems it has been translated by automatic tool. I would like to edit these sentences

[2022-10-03 16:01] jimbobbennett commented on #193
@smalcakmak would love your contributions! Please fork and raise a PR with improvements to the existing translations and any other translations you have time to work on.

[2022-10-03 18:14] alihakimtaskiran commented on #193
@smalcakmak . I am the author of the Turkish translations. Machine translation is not used. Weird sentences are a drawback of that language of the source and the translated language are from different language families. Sentences are seem to be weird because I conserved the original structure. Various grammar structures of English enable us to create complex sentences. However, when we try to tran

[2022-10-08 04:44] weslleymurdock commented on #208
Hello everyone, i'm also able to help on this issue.  cc @jimbobbennett @annezao

[2022-10-08 09:53] FMartull commented on #396
Hello @marty-optum,

Reading this documentation: [Azure IoT device types](https://learn.microsoft.com/en-us/training/modules/examine-iot-device-lifecycle-concepts/3-azure-iot-devices) I understand that Microsoft considers Edge devices as Device: _The physical devices that connect to IoT Hub are defined as either IoT Devices or IoT Edge Devices_ (...) _IoT Edge device can be used as a field gateway

[2022-10-08 11:46] weslleymurdock commented on #208
Hey people, I've made a quickly checklist:

The unmarked boxes needs implementation

- [x] 1-getting-started/translations/README.pt.md
- [x] 1-getting-started/lessons/1-introduction-to-iot/translations/README.pt.md
- [x] 1-getting-started/lessons/1-introduction-to-iot/translations/assignment.pt.md
- [x] 1-getting-started/lessons/1-introduction-to-iot/translations/pi.pt.md
- [x] 1-getting-started/l

[2022-10-10 16:25] jimbobbennett commented on #208
Hey all, @weslleymurdock has created #405 with the Farm project translated. Would love it if another Portuguese speaker could do a quick review and let me know if the translation is ok to merge!

@annezao @elisabacelar - can you help with this?

[2022-10-11 21:49] FMartull commented on #396
From [MS Learn](https://learn.microsoft.com/en-us/training/modules/examine-iot-hub-message-routing/2-what-is-message-processing) we see that both Device and Edge Device can communicate with the Gateway

![image](https://user-images.githubusercontent.com/40671906/195204519-3650603c-5e80-4b41-bd53-b215be245e95.png)

[2022-10-12 17:07] Nader822 opened #407 "Asirashok23"

[2022-10-13 03:43] jimbobbennett commented on #407
Please don’t waste maintainers time with empty issues.

[2022-10-13 03:43] #407 closed

[2022-10-28 09:46] WZNT-KimHyeJin opened #409 "Translation-Korean"
This is the Korean translation of "IoT-For-Beginners"

[2022-10-28 09:49] WZNT-KimHyeJin commented on #409
We are three computer science & engineering students from the "Chungnam National University", Daejeon, South Korea ( @jhYun505 @DobiIsFree )

We found out that the Korean translation was not completed,
so we would like to proceed with the translation for the next part.

[2022-10-31 22:29] jimbobbennett commented on #409
Awesome! Would love a Korean translation.